@charset "utf-8";
@import "variables";

/* 重置浏览器样式 */
html{
    filter: expression(document.execCommand("BackgroundImageCache",false,true));
    _background-attachment: fixed;
    height: 100%;

    // 解决IE7下出现默认滚动条
    *overflow: auto;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td , menu{
    margin: 0;
    padding: 0;
}
body{
    _zoom:1;
    font-size: 14px;
    height: 100%;
    color: $font-base;
    background-color: $body-bg;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    > div { height: 100% }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
ul li {
    list-style: none;
}
ol li {
    list-style: decimal;
    list-style-position: inside;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: middle;
}
input, textarea, select {
    *font-size:100%;
    outline: none;
}
legend {
    color: #000;
}
a{
    color: $link-color;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $link-color-hover;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}