@charset "utf-8";
.grid-container{
	border: none !important;
	.pagination-wrap{
		border-top : none !important; 
	}
	.grid-main{
		border: 1px solid $gray-line !important;
	}

    .grid-title{
        a{
            font-weight: normal !important;
            font-size: 14px !important;
        }
    }
    .grid-edit-input{
        margin-top: -5px !important;
    }
}
